@media screen and (min-width: 1024px) {
 .box-2 {
   right: calc((((100vw - 600px)/2) - 210px)/2);
 }
 .box-3 {
   left: calc((((100vw - 600px)/2) - 210px)/2);
 }
}

@media screen and (min-width: 1200px) {
 .box-1 {
   margin: 0 220px;
 }
 .box-2 {
   width: 210px;
   right: calc((((100vw - 600px)/2) - 230px)/2);
 }
 .box-3 {
   width: 210px;
   left: calc((((100vw - 600px)/2) - 230px)/2);
 }
 .block {
   padding: 10px;
 }
}
.block {
  background-color: #FFF;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border-radius: 10px;
  padding-bottom: 5px;
  &.link-list-block {
    background-color: transparent;
    box-shadow: none;
  }
  &.no-boxes {
    background-color: #FFF;
  }

  &.profile-image-block{
    overflow: hidden;
    padding: 0;
    .profile-big-image {
      width: auto;
      height: auto;
      .profile-big-image-inner1 {
        display: block;
        img {
          width: 100%;
        }
      }
    }
  }
  &.main-block {
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);//
  }
}

.block-title {
  border: none;
  background: #FA0;
  font-family: 'Overlock', cursive;
  font-variant: normal;
  color: #FFF;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

.common-profile-list-block {
  .vcard .fn, .vcard .org   {
    background: #EEE;
    border-radius: 5px;
    color: #444;
    padding-bottom: 2px;
  }
}

.friends-block {
  .block-title {
    background: #E63;
  }
}

.communities-block {
  .block-title {
    background: #0B7;
  }
}

.tags-block {
  .block-title {
    background: #0AB;
  }
}

.recent-documents-block {
  .block-title {
    background: #A5A;
  }
}

.link-list-block {
  li {
    a {
      background-color: #08D;
      color: #FFF;
    }
    a:hover{
      background-color: #0AF;
    }
    .link-this-page{
      background-color: #06A;
    }
  }
}

.block-outer{
  .block-footer-content{ 
    padding: 4px 0;
    a{
      color: black;
      position: relative;
      border-radius: 5px;
      padding: 1px 15px;
    }
  }
}