#user{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 30%;
  font-family: 'Play', monospace;
  color: #000;
  #user-toggle {
    cursor: pointer;
    margin: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50% 30%;
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1;
    border: 3px solid #08C;
  }
  .not-logged-in {
    display: none;
  }
  .logged-in {
    max-height: 50px;
    max-width: 50px;
    overflow: hidden;
    transition: 1s;
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 4px;
    border-radius: 50%;
    background-color: #0AD;
    > * {
      margin: 10px 0 10px 5px;
    }
    a {
      text-decoration: none;
      strong {
        color: #FFF;
      }
    }

    span.welcome {
      display: none;
    }
    a {
      display: block;
      i, &#homepage-link i {
        display: inline-block;
        position: relative;
        top: 3px;
        left: -4px;
      }
    }
  }
  #top-search {
    position: fixed;
    top: 15px;
    left: 25%;
    text-align: left;
    input {
      xposition: absolute;
      xleft: 0;
      width: 100px;
      height: auto;
      border-radius: 10px;
      border: none;
      padding: 10px;
      background: transparent;
      box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
      opacity: 0.5;
      transition: 1s;
      margin-top: 15px;
      margin-left: -40px;
      &:focus {
        width: 150px;
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  &.open {
    .logged-in {
      max-width: 300px;
      max-height: 400px;
      padding: 10px;
      top: 56px;
      right: 0;
      transition: 0.5s;
      background-color: #0AD;
      Xbox-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
      border-radius: 0 0 0 20px;
    }
  }
}

#site-title {
  position: fixed;
  top: 0px;
  left: 0;
  width: auto;
  height: auto;
  z-index: 3;
  a{
    position: static;
    height: auto;
    img{
      width: 250px;
    }
  }
}

#theme-header {
  overflow: visible;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, #fff 25%,rgba(255,255,255,0) 100%);
  nav{
    @import 'menu';
  }
}
//responsive communities//
.isTouch #content .common-profile-list-block .vcard .menu-submenu-trigger {
  display: none;
}
