& {
  display: inline;
  position: absolute;
  right: 60px;
  top: 15px;
}

&:before {
  content: "";
  display: block;
  position: absolute;
  left: 21px;
  top: 22px;
  background: transparent;
  border: 20px solid #07B;
  border-left: 20px solid transparent;
  width: 20px;
}

&:after {
  content: "";
  display: block;
  position: absolute;
  left: 60px;
  top: 42px;  
  border: 10px solid transparent; 
  border-top: 10px solid #05A;
  border-right: 10px solid #05A;
}

&.not-logged-in ul {
  padding-right: 10px;
}

ul {
  margin: 0;
  padding: 4px 84px 4px 20px;
  background-color: #08C;
  position: relative;
  z-index: 2;
  right: -60px;
  li {
    display:inline-block;
    margin: 0 10px ;
    padding: 0;
    list-style: none;
    max-width: 300px;
    white-space: nowrap;
    vertical-align: middle;
    transition: 1.5s;
    .scrolled & {
      margin: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
      transition: 1.5s;
    }
    a {
      display: block;
      padding: 8px;
      text-decoration: none;
      color: #FFF;
      font-weight: bold;
      font-size: 16px;
      transition: 2s;
      &:hover {
        text-shadow: 0 0 15px #FFF, 0 0 15px #FFF;
        color: #FFF;
        transition: 0.2s;
      }
    }
  }
}

&.open ul li {
  margin:  0 10px;
  max-width: 300px;
  overflow: visible;
  opacity: 1;
}

.toggle-mobile-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  padding-right: 10px;
  vertical-align: middle;
  position: relative;
  top: 2px;
  .scrolled & {
    display: inline-block;   
  }
  hr {
    border: none;
    border-top: 5px solid #FFF;
    padding: 0;
    margin: 0 0 5px 0;
  }
}

#open-login {
  margin-top: 0;
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path style="fill:%23fff;stroke:%23fff;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round;" d="m 10.5,3.5 6,0 0,13 -6,0 0,3 7,0 c 1,0 2,-1 2,-2 l 0,-15 c 0,-1 -1,-2 -2,-2 l -7,0 z m 1,5 -5,-5 0,3 -6,0 0,7 6,0 0,3 5,-5 c 1,-1 1,-2 0,-3 z" /></svg>  ');
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
  }
}  