<link rel="shortcut icon" href="/designs/themes/tecciencia/favicon.ico" type="image/x-icon" />
<nav <%= user ? '' : 'class="not-logged-in"'.html_safe %> >
  <ul>
    <li><a href="/tecciencia/areas-do-conhecimento">Áreas do Conhecimento</a></li>
    <li><a href="/profile/tecciencia/events">Eventos</a></li>
    <li><a href="/tecciencia/noticias">Noticias</a></li>
    <li><a href="/tecciencia/sobre">Sobre</a></li>
    <% unless !user %>
    <li><%= link_to "Nova Comunidade", controller:'tecciencia_plugin_relacionamento', action:'new_community'%></li>
    <% end %>
    <% unless user  %>
      <li id="open-login">
        <a onclick="return noosfero.modal.inline('#inlineLoginBox')">
        </a>
      </li>
    <% end %>
    <div class="toggle-mobile-menu"><hr><hr><hr></div>
  </ul>
</nav>
