@import url(../base/style.css);
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Chewy|Overlock:400,400i,700,700i,900,900i&subset=latin-ext');

body {
  background-image: url("images/Icones Ciencias.png");
  background-color: white;
  background-attachment: fixed;
}

@import 'header';

#navigation {
  display: none;
}

/************************** content ***************************/
#wrap-1 {
  width: 100%;
}

#wrap-2 {
  margin: auto;
  max-width: 1000px;
  border: none;
  padding: 0;
  background: transparent;
  .controller-cms.action-cms-new &, .controller-cms.action-cms-edit & {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
  }
  #content {
    margin: 132px 0 0 0;
    padding: 0;
    #boxes{
      @import 'blocks';
    }
    .main-content {
      @import 'main';
    }
  }
}
#chat-label {
  bottom: 25%;
  top: auto;
}
/************************** theme footer ***************************/

#footer {
  @import 'footer';
}





